button {
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

div{
    width: 30px;
    height: 30px;
    background-color: #000000;
    margin: 5px;
    float: left;
    color: azure;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
}
.cirlce{
    background-color: #fff;
    color: black;
    border-radius: 50%;
    border: 2px solid black;
}